/* розміри */

/* :root {
  --primary-text-color: #212121;
  --text-color-hover: #2196f3;
  --color-social-link: #afb1b8;
  --accent-color: #ffffff;
  --timing-transition: cubic-bezier(0.4, 0, 0.2, 1);
} */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* списки */

ul {
  list-style: none;
}

/* посилання */

.link {
  text-decoration: none;
  display: block;
}

/* елементи списків */

.list {
  list-style: none;
}

body {
  padding-top: 80px;
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #212121;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*-----Шапка сайту-----*/

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid #ececec;
  background-color: #ffffff;
  z-index: 999;
}

.logo-header {
  margin-right: 85px;
  font-family: raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-header-web {
  color: #2196f3;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #2196f3;
}

.navigation-list-link,
.header-contacts-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-list-link {
  padding: 32px 0px;
  transition: color 250ms linear;
}

/* лінія під посиланнями в хедері */

.navigation-list-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 0;
}

.navigation-list-link.line::after {
  opacity: 1;
}

.navigation-list-link.line:visited {
  color: #2196f3;
}

.navigation-list-item {
  position: relative;
}
/*---------- Контакти header ---------- */

.header-icon-svg {
  fill: #757575;
  transition: fill 250ms linear;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #2196f3;
}

.header-contacts-link:hover .header-icon-svg {
  fill: #2196f3;
}

.header-contacts-link {
  display: flex;
  color: #757575;
  padding: 22px 0px;
  transition: color 250ms linear;
}

.header-contacts-list {
  display: flex;
  align-items: center;
}

.header-contacts-item:not(:last-child) {
  margin-right: 30px;
}
.header-icon-svg {
  margin-right: 10px;
}

/*-----Герой сторінки-----*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-image.jpg');
  background-color: #212121;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin: 0;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/* button - Заказать услугу */

.button-hero {
  display: block;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  padding: 10px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-hero:hover,
.button-hero:focus {
  color: black;
}
/* ----- модальне вікно ----- */

.batton-hero-close {
  display: inline-block;
  margin-top: 80px;
  margin-left: 500px;
  text-align: center;
  background-color: #2196f3;
  border: none;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 2px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 300px;
  min-width: 400px;
  padding: 15px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*----------Про нас----------*/

.about-us {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* зміни */

.about-us-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.about-us-list-item::before {
  display: block;
  content: '';
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.about-us-list-item:nth-child(1)::before {
  background-image: url(../images/about-as/attention.svg);
  background-size: 66px;
}
.about-us-list-item:nth-child(2)::before {
  background-image: url(../images/about-as/punctuality.svg);
  background-size: 67px;
}
.about-us-list-item:nth-child(3)::before {
  background-image: url(../images/about-as/planning.svg);
  background-size: 70px;
}
.about-us-list-item:nth-child(4)::before {
  background-image: url(../images/about-as/technology.svg);
  background-size: 70px;
}

.about-us-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-us-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 30px;
}

.about-us-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/*----------Чим ми займаємось----------*/

.what-we-do {
  padding-bottom: 94px;
}

.what-we-do-list {
  display: flex;
  align-items: center;
}

.what-we-do-list-item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-list-item {
  position: relative;
}

.title {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-advantages-title {
  position: absolute;
  bottom: 0px;
  padding: 27px 0px;
  /* width: 370px; */
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

/*----------Наша команда----------*/

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
}

.our-team-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-list-item {
  width: 270px;
  height: 422px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team-img {
  display: inline-block;
  margin-bottom: 30px;
  width: 270px;
  height: 260px;
}

.name-title {
  margin-bottom: 10px;
}

.profession-subtitle {
  margin-bottom: 16px;
}

.name-title,
.profession-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.profession-subtitle {
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ---------------Соціальні посилання----------------- */

.our-team-social-links-list {
  display: flex;
  justify-content: center;
}

.our-team-social-links-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms linear;
}

.social-links:hover,
.social-links:focus {
  background-color: #2196f3;
}
.social-links-svg {
  fill: #afb1b8;
  transition: fill 250ms linear;
}
.social-links:hover .social-links-svg {
  fill: #ffffff;
}

/*----------Постійні клієнти----------*/

.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-customers-list {
  display: flex;
}

.regular-customers-list-item:not(:last-child) {
  margin-right: 30px;
}

.regular-customers-list-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  box-sizing: border-box;
}
.regular-customers-list-links:hover,
.regular-customers-list-links:focus {
  border-color: #2196f3;
}
.regular-customers-list-links:hover .customers-svg {
  fill: #2196f3;
}

.customers-svg {
  fill: #afb1b8;
  transition: fill 250ms linear;
}

/*----------Підвал сайту----------*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.footer-container-contacts {
  margin-right: 69px;
}

.logo-footer {
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-footer-studio {
  color: #ffffff;
}

.footer-links-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail-link,
.footer-tel-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subtitle {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-container-social {
  margin-right: 94px;
  width: 206px;
  height: 80px;
}
.footer-container-social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-container-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-continer-social-links-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-weight: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms linear;
}

.footer-continer-social-links-link:hover,
.footer-continer-social-links-link:focus {
  background-color: #2196f3;
}

.footer-social-links-svg {
  fill: #ffffff;
}

/* Для прикладу */

.footer-container-subscribe {
  flex-direction: row;
  justify-content: space-between;
  width: 570px;
  height: 86px;
}

.footer-container-subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form-imput {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
}

.bat-subscribe {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  background-color: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #2196f3;
  letter-spacing: 0.06em;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87px;
}
.bat-subscribe::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/iconsend.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/*Портфоліо*/

/*----------Меню проектів портфоліо----------*/

.portfolio-section {
  padding-top: 93px;
  padding-bottom: 94px;
}

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-list-button {
  display: inline-block;
  padding: 6px 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background: #f5f4fa;
  color: #212121;
  border-radius: 4px;
  border: none;
  transition: color 250ms linear, background-color 250ms linear;
}

.filter-list-button:hover,
.filter-list-button:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

/*----------Проекти портфоліо----------*/

/* змінено */
.projects-portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-portfolio-list-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.projects-portfolio-list-item:nth-child(3n) {
  margin-right: 0px;
}

.projects-portfolio-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects-portfolio-list-links {
  width: 370px;
  height: 404px;
  display: block;
  text-decoration: none;
  color: #212121;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-portfolio-list-links:hover,
.projects-portfolio-list-links:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-titles {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.55;
  height: 100%;
  padding: 63px 24px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-portfolio-list-links:hover .portfolio-titles,
.projects-portfolio-list-links:focus .portfolio-titles {
  opacity: 1;
  transform: translateY(0%);
}

.portfolio-card-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
  box-sizing: border-box;
}
.projects-portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-portfolio-subtitle {
  margin-top: 0px;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
